:root{
    --background_color:#F1F1F1;
    --light_green_color: #C3D7C0;
    --regular_green_color: #5F9354;
    --dark_green_color: #296E1B;
    --brand_text_size: 3.4vh;
    --h2_text_size: 3vh;
    --navigation_text_size: 2.8vh;
    --h3_text_size: 2.6vh;
    --emphasis_text_size: 2.2vh;
    --regular_text_size: 2.05vh;
    --smaller_text_size: 1.9vh;
}

body{
    font-family: 'Inter', sans-serif, Helvetica;
    padding: 0% 3vw;
    margin: 0;
    background-color: var(--background_color);
}

h1{
    font-family: 'Lemonada', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: var(--brand_text_size);
    font-weight: 400;
    text-align: center;
}

header{
    background-color: var(--background_color);
    position: sticky;
    top: 0;
}

p{
    font-size: var(--regular_text_size);
}

a{
    text-decoration: none;
    font-size: var(--regular_text_size);
    color: #000;
}

a:hover{
    color: var(--dark_green_color);
}
a:focus{
    color: var(--dark_green_color);
}

nav{
    display: flex;
    gap: clamp(20px, 10%, 100px);
}

nav a{
    font-size: var(--navigation_text_size);
}

nav .current_page{
    color: var(--dark_green_color);
}

h2{
    font-size: var(--h2_text_size);
    font-weight: 700;
    margin-bottom: 0%;
}

h3{
    font-size: var(--h3_text_size);
    font-weight: 400;
    margin: 0.5% 0 1% 0;
}
div{
    width: 100%;
}

footer{
    text-align: center;
    margin: 3vw 0  3vw 0;
    border-top: solid;
    border-color: #bebebe;
}

footer .flex{
    justify-content: center;
    flex-wrap: wrap;
}

footer p{
    margin: 0.3% 0%;
}

img{
    width: 15vw;
}

nav svg{
    margin-left: auto;
}

.emphasis{
    font-size: var(--emphasis_text_size);
    color: var(--dark_green_color);
}

.flex{
    display: flex;
}

.grid{
    display: grid;
    grid-template-rows: auto auto;
}

.center{
    text-align: center;
}

.send_email label{
    font-size: var(--emphasis_text_size);
    font-weight: 600;
}

.send_email .email_info input{
    background-color: var(--light_green_color);
    font-size: var(--emphasis_text_size);
    border: none;
    border-radius: 10px;
    padding: 0.5vw 0vw 0.5vw 1vw;
    width: 60%;
    margin: 1% 0%;
    font-family: inherit;
}

.send_email .flex{
    height: fit-content;
    margin: 0% 0% 1% 0%;
}

.send_email .email_info textarea{
    background-color: var(--light_green_color);
    font-size: var(--emphasis_text_size);
    border: none;
    border-radius: 10px;
    padding: 0.5vw 0vw 0.5vw 1vw;
    width: 99%;
    margin: 1% 0%;
    font-family: inherit;
}

.send_email button{
    font-size: var(--emphasis_text_size);
    font-weight: 700;
    padding: 0.8% 1.8%;
    background-color: var(--dark_green_color);
    color: #fff;
    border-radius: 10px;
    border: none;
    display: block;
    margin: auto;
}

button:hover{
    background-color: #1e5513;
}
button:focus{
    background-color: #1e5513;
}

.produto{
    width: 15vw;
    padding: 3vh 0vh;
}

#Flores{
    column-gap: clamp(10px, 15%, 150px);
    width: 95%;
    justify-items: center;
    margin: auto;
}

.produto .flex{
    justify-content: space-between;
}

.produto .flex p{
    font-size: var(--smaller_text_size);
    opacity: 65%;
}

.produto p{
    margin: 1%;
}

.transparent{
    opacity: 65%;
}

#mais_vendidos{
    column-gap: clamp(10px, 15%, 150px);
    width: 95%;
    margin: auto;
    justify-items: center;
}

.especial{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.smaller_div{
    width: 50%;
}

.bi-chevron-compact-right{
    margin-left: auto;
}
.bi-chevron-compact-left{
    margin-right: auto;
}

.circle{
    width: 25vw;
    background-color: var(--regular_green_color);
    align-content: center;
    text-align: center;
    border-radius: 13vw;
}

.circle img{
    width: 23vw;
}

.mais-vendidos h2{
    margin-top: 5%;
    text-align: center;
}

#forward_special{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

#backward_special{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.search-box {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.3em 0.6em;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 1%;
}

.search-box input {
    border: none;
    outline: none;
    font-size: var(--emphasis_text_size);
    width: 100%;
}

.search-box svg {
    color: #000000;
    cursor: pointer;
    transition: color 0.3s;
}

.search-box svg:hover {
    color: #5f9354;
}

@media(max-width: 1600px){
    .circle{
        height: 25vw;
    }
    .search-box{
        width: clamp(10px, 50%, 600px);
        height: clamp(30px, 50%, 34px);
        margin-left: auto;
    }
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media(max-width: 768px){
    :root{
        --brand_text_size: 3.4vw;
        --h2_text_size: 3vw;
        --navigation_text_size: 2.8vw;
        --h3_text_size: 2.6vw;
        --emphasis_text_size: 2.2vw;
        --regular_text_size: 2.05vw;
        --smaller_text_size: 1.9vw;
    }
    .flex{
        flex-wrap: wrap;
    }
    .send_email .email_info input{
        width: 80%;
        padding: 1vw 0vw 1vw 2vw;
        border-radius: 5px;
    }

    .send_email .email_info textarea{
        padding: 1vw 0vw 1vw 2vw;
        height: 20vh;
        border-radius: 5px;
    }
    .send_email button{
        padding: 1.8% 2.8%;
        border-radius: 5px;
    }
    .circle{
        height: 24vw;
    }
    .circle img{
        width: 22vw;
    }
    img{
        width: 25vw;
    }
    .produto{
        width: 25vw;
    }
    .especial svg{
        height: 40px;
    }
    nav svg{
        height: 5vw;
    }
    .search-box{
        width: clamp(10px, 50%, 800px);
    }
    .search-box svg{
        height: 3vw;
    }
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}

@media(max-width: 430px){
    :root{
        --brand_text_size: 4.4vw;
        --h2_text_size: 4vw;
        --navigation_text_size: 3.8vw;
        --h3_text_size: 3.6vw;
        --emphasis_text_size: 3.2vw;
        --regular_text_size: 3.05vw;
        --smaller_text_size: 2.9vw;
    }
    .send_email .email_info textarea{
        height: 10vh;
    }
    .especial svg{
        height: 20px;
    }
    img{
        width: 32vw;
    }
    .produto{
        width: 32vw;
    }
    .circle{
        height: 23vw;
        width: 27vw;
    }
    .circle img{
        width: 21vw;
    }
}

